@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white text-black dark:bg-primary dark:text-light;
}

.loading-height {
    height: calc(100vh - 100px);
}

.leaderboard-grid {
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
}

.grid-row {
    display: contents;
}

.sub-grid {
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
}

.mobile-grid {
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}